.App {
    /*text-align: center;*/
}

.App .App-main {
    margin-bottom: 6em;
}

.App h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
