<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/assets/css/common.css" th:href="@{/assets/css/common.css}" rel="stylesheet"/>
    <link href="../../static/assets/css/index.css" th:href="@{/assets/css/index.css}" rel="stylesheet"/>
</head>
<body>
    <header th:fragment="header" class="header" role="banner">
        <p class="logo"><a th:href="@{/}"><img th:src="@{/assets/img/logo.png}"/></a></p>

        <nav role="navigation">
            <ul class="nav-main">
                <li th:each="category : ${categories}">
                    <a th:href="${category.name}" th:text="${category.name}" class="current-page"></a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>