<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="microservices spring-boot springcloud event-driven event-sourcing ecommerce neo4j oauth2 eventually-consistent"/>
    <meta name="author" content="chaokunyang"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>

    <title>关于我</title>

    <!--[if lt IE 9]>
    <script src="../static/assets/lib/shim/html5shiv.js" th:href="@{/assets/lib/shim/html5shiv.js}"></script>
    <![endif]-->

    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet"/>

    <link href="../static/assets/css/markdown.css" th:href="@{/assets/css/markdown.css}" rel="stylesheet"/>
    <link href="../static/assets/css/base.css" th:href="@{/assets/css/base.css}" rel="stylesheet"/>
    <link href="../static/assets/css/index.css" th:href="@{/assets/css/index.css}" rel="stylesheet"/>
</head>
<body>

<div>
    <div th:replace="fragments/header :: header">Header</div>

    <div class="content">

        <div class="container clearfix">
            <main role="main">
                <!--/*@thymesVar id="profile" type="com.timeyang.amanda.user.domain.Profile"*/-->
                <div>
                    <img th:src="${profile.avatar}" />
                </div>
                <div>
                    <div>姓名</div>
                    <div th:text="${profile.name}"></div>
                </div>
                <div>
                    <div>邮箱</div>
                    <div th:text="${profile.email}"></div>
                </div>
                <div>
                    <div>个人简介</div>
                    <div th:text="${profile.biography}"></div>
                </div>
                <div>
                    <div>个人网站</div>
                    <div th:text="${profile.url}"></div>
                </div>
                <div>
                    <div>github</div>
                    <div th:text="${profile.githubUrl}"></div>
                </div>
                <div>
                    <div>工作地点</div>
                    <div th:text="${profile.location}"></div>
                </div>
                <div>
                    <div>详细介绍</div>
                    <div th:utext="${profile.htmlBody}"></div>
                </div>
            </main>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer">footer</div>

</div>

<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>