<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta content="大数据,Hadoop,Spark,机器学习,ElasticSearch" name="keywords"/>
    <meta content="专注于Java,大数据,Hadoop,Spark,Flink,机器学习,搜索算法,搜索引擎,ElasticSearch,微服务,Docker,SpringCloud等领域" name="description"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>

    <title>关于我</title>

    <!--[if lt IE 9]>
    <script src="../static/assets/lib/shim/html5shiv.js" th:href="@{/assets/lib/shim/html5shiv.js}"></script>
    <![endif]-->

    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet"/>

    <link href="../static/assets/css/markdown.css" th:href="@{/assets/css/markdown.css}" rel="stylesheet"/>
    <link href="../static/assets/css/base.css" th:href="@{/assets/css/base.css}" rel="stylesheet"/>
    <link href="../static/assets/css/amanda.css" th:href="@{/assets/css/amanda.css}" rel="stylesheet"/>
    <link href="../static/assets/css/profile.css" th:href="@{/assets/css/profile.css}" rel="stylesheet"/>
</head>
<body>

<div>
    <div th:replace="fragments/header :: header">Header</div>

    <div class="content">

        <main role="main" class="profile">
            <!--/*@thymesVar id="profile" type="com.timeyang.amanda.user.domain.Profile"*/-->
            <div>
                <div class="about-me">
                    <h1 class="title">关于我</h1>
                    <div class="about-me-content">
                        <div>
                            <img th:src="${profile.avatar}" />
                        </div>
                        <div>
                            <div class="detail" th:utext="${profile.htmlBody}"></div>
                        </div>
                    </div>
                </div>

                <div class="contact">
                    <h1 class="title">联系我</h1>
                    <ul class="contact-list">
                        <li class="item">
                            <a th:href="'mailto:'+${profile.email}">Email</a>
                        </li>
                        <li class="item">
                            <a th:href="${profile.url}">个人网站</a>
                        </li>
                        <li class="item">
                            <a th:href="${profile.githubUrl}">Github</a>
                        </li>
                        <li class="item">
                            <a th:href="${profile.twitterUrl}">Twitter</a>
                        </li>
                        <li class="item">
                            <a th:href="${profile.weiboUrl}">微博</a>
                        </li>
                    </ul>
                </div>

            </div>
        </main>

    </div>

    <div th:replace="fragments/footer :: footer">footer</div>

</div>

<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>