<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="timeyang的个人博客Amanda" />
    <meta name="author" content="Chaokun Yang" />
    <title>amanda admin</title>
    <link rel="stylesheet" th:href="@{/assets/lib/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/lib/bootstrap/css/bootstrap.min.css}" />
    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/admin/admin.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/markdown.css}" />
</head>
<body>
<div id="app"></div>

<script th:src="@{/assets/lib/jquery/jquery-3.2.1.min.js}" src="../static/assets/lib/jquery/jquery-3.2.1.min.js"></script>
<script th:src="@{/assets/lib/bootstrap/js/bootstrap.min.js}" src="../static/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>

<script th:src="@{/assets/js/common.js}" src="../static/assets/js/common.js"></script>
<script th:src="@{/built/bundle.js}" src="../static/built/bundle.js"></script>
<script >hljs.initHighlightingOnLoad();</script>
</body>
</html>