<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="microservices spring-boot springcloud event-driven event-sourcing ecommerce neo4j oauth2 eventually-consistent"/>
    <meta name="author" content="chaokunyang"/>
    <link rel="icon" th:href="@{/favicon.ico}" />

    <title>杨朝坤的个人网站</title>

    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet"/>

    <link href="../static/assets/css/markdown.css" th:href="@{/assets/css/markdown.css}" rel="stylesheet"/>
    <link href="../static/assets/css/common.css" th:href="@{/assets/css/common.css}" rel="stylesheet"/>
    <link href="../static/assets/css/index.css" th:href="@{/assets/css/index.css}" rel="stylesheet"/>
</head>
<body>

    <div class="page">
        <div th:replace="fragments/header :: header">Header</div>

        <main>
            <!--/*@thymesVar id="articles" type="java.util.List<com.timeyang.amanda.blog.domain.Article>"*/-->
            <section th:each="article : ${articles}">
                <h1 th:text="${article.title}"></h1>
                <img th:src="${article.pictureUrl}"/>
                <div th:utext="${article.abstractContent}"></div>
            </section>
        </main>
    </div>

    <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
    <script >hljs.initHighlightingOnLoad();</script>
</body>
</html>