.App {
    /*text-align: center;*/
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30px;
}

.App-header {
    background-color: #222;
    height: 60px;
    padding: 8px;
    color: white;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.App-header > * {
    display: inline-block;
}


@keyframes App-logo-spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

.Sidebar {
    width: 11.25%;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.App-main {
    float: right;
    width: 88%;
}

